
        <div class="col-md-12">
            <div>
                <div>
                    <div >
                        <label>
                            <h3>Shopping !</h3>
                        </label>
                        <br>
                        <button  routerLink="customer" class="btn btn-info">Customer</button>
                         &nbsp;
                        <button class="margin-right: 100px;" routerLink="product" class="btn btn-info">Product</button>
                        <hr/>
                        <router-outlet></router-outlet>
                    </div>
            
                </div>
            </div>
        </div>
