<div>
    <div>
        <div >
            <label>
                <h3>Shopping !</h3>
            </label>
            <br>
            <button routerLink="customer">Customer</button>
            <!-- <a routerLink="customer-edit" [queryParams]="{ id: '15'}" >Customer Edit</a> -->
            <a routerLink="customer-edit" >Customer Edit</a>
            <a routerLink="customer-edit"  >Customer Add</a>
            <br>
            <button routerLink="product">Product</button>
            <a routerLink="product-edit">Product Edit</a>
            <hr/>
            <router-outlet></router-outlet>
        </div>

    </div>
</div>