<div class="col-md-12">

    <div class="col-md-12">
        <div class="div">
            <div class="row">
                <div class="col-xs-12">
                    <p>Product works!</p>
                    <hr />
                    <button routerLink="/product-edit" [queryParams]="{ id: '0' }">Create Product</button>
                    <hr>
                    <div>
                        <div class="row">

                            <div class="col-xs-6">
                                <p *ngFor="let productGet of productGet">
                                    {{ productGet.ProductId }}
                                    {{ productGet.Name }}
                                    {{ productGet.Price }}
                                    <button routerLink="/product-edit"
                                        [queryParams]="{ id: productGet.ProductId }">Edit</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>


</div>