<div class="div">
    <div class="row">
        <div class="col-xs-12">
            <h3>customer works!</h3>
            <hr />
                <button  routerLink="/customer-edit" [queryParams]="{ id: '0'}" class="btn btn-light">Create Customer</button>
            <hr>
            <div>
                <div class="row">

                    <div class="col-xs-6">
                        <p *ngFor="let customerServiceHttp of customerServiceHttp">
                            {{ customerServiceHttp.id }}
                            {{ customerServiceHttp.name }}
                            {{ customerServiceHttp.age }}
                            <button class="button" routerLink="/customer-edit" class="btn btn-warning"
                                [queryParams]="{ id:  customerServiceHttp.id }">Edit</button>
                            <button (click)="onDeleteCustomer(customerServiceHttp.id)" class="btn btn-danger">Delete Customer</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />